<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="katson.com.amplifier">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="katson.com.amplifier.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="katson.com.amplifier.activity.PlayerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="katson.com.amplifier.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="katson.com.amplifier.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="katson.com.amplifier.activity.ChannelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0047e3bf14d8098638d7a7069ebfaccb2e1b4e7a" />

        <activity
            android:name="katson.com.amplifier.activity.TabActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="katson.com.amplifier.activity.TwitterActivity"
            android:label="@string/title_activity_twitter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>